body{
    color: #000;
    background: #fff;
}
table{
    border-collapse: collapse;
    border: 1px solid black;
}
th{
    border: 1px solid black;
    padding: 2px;
}
td {
    border: 1px solid black;
    padding: 2px;
  }